body {
  padding: 0;
  text-align: center;
  font-family: "Concert One", cursive;
  background-image: url("./images/blurred-bookshelves-library/342332-PA9PQU-603.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  margin: 30px;
  padding: 30px;
  width: 1000px;
  background-color: rgba(100, 100, 100, 1);
}
.btn-start {
  padding: 30px 50px;
  font-size: 25px;
  margin: 20px;
}

img {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
#worldfield-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#btn-solution {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
  margin-left: 115px;
}
#btn-back {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
  margin-left: 115px;
  padding-left: 15.5px;
  padding-right: 15.5px;
}
/* .card img {
  opacity: 1;
  filter: alpha(opacity=100);
}

.card img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: bold;
}

.card-text {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.card-text:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  font-weight: bold;
} */

.card-img-overlay {
  padding: 50px;
}

h5 {
  color: black;
}
h1 {
  color: black;
}
.container {
  display: flex;
}
#game-board {
  display: flex;
  flex-direction: row;
}

canvas {
  border: 1px solid black;
  margin: 30px 30px 0px;
}
.game-intro {
  float: left;
  padding: 0% 5%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Concert One", cursive;
}
p {
  color: black;
  font-size: 18px;
  font-family: "Concert One", cursive;

  opacity: 1;
  filter: alpha(opacity=100);
}

.logo-img {
  width: 700px;
}
input {
  width: 400px;
}

body button {
  font-size: 15px;
  background-color: rgba(54, 51, 51, 0.815);
  color: #fff;
  padding: 5px 10px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.example {
  color: rgb(197, 193, 193);
}
